@import '~@angular/material/theming';
@import './styles';

@include mat-core();

$di-ge-em-dark-text: black;
$di-ge-em-light-text: #fff1e7;

$di-ge-em-primary: (50 : #f4eaef,
  100 : #e4cad7,
  200 : #d3a6bc,
  300 : #c182a1,
  400 : #b3688d,
  500 : #a64d79,
  600 : #9e4671,
  700 : #953d66,
  800 : #8b345c,
  900 : #7b2549,
  A100 : #ffbcd7,
  A200 : #ff89b8,
  A400 : #ff5699,
  A700 : #ff3c8a,
  contrast: (50: $di-ge-em-dark-text,
    100: $di-ge-em-dark-text,
    200: $di-ge-em-dark-text,
    300: $di-ge-em-dark-text,
    400: $di-ge-em-dark-text,
    500: $di-ge-em-light-text,
    600: $di-ge-em-light-text,
    700: $di-ge-em-light-text,
    800: $di-ge-em-light-text,
    900: $di-ge-em-light-text,
    A100: $di-ge-em-light-text,
    A200: $di-ge-em-light-text,
    A400: $di-ge-em-light-text,
    A700: $di-ge-em-light-text));

$di-ge-em-primary-alt: (50 : #eee8e6,
  100 : #d4c5bf,
  200 : #b89e95,
  300 : #9b776b,
  400 : #855a4b,
  500 : #703d2b,
  600 : #683726,
  700 : #5d2f20,
  800 : #53271a,
  900 : #411a10,
  A100 : #ff927c,
  A200 : #ff6749,
  A400 : #ff3d16,
  A700 : #fc2a00,
  contrast: (50: $di-ge-em-dark-text,
    100: $di-ge-em-dark-text,
    200: $di-ge-em-dark-text,
    300: $di-ge-em-dark-text,
    400: $di-ge-em-dark-text,
    500: $di-ge-em-light-text,
    600: $di-ge-em-light-text,
    700: $di-ge-em-light-text,
    800: $di-ge-em-light-text,
    900: $di-ge-em-light-text,
    A100: $di-ge-em-light-text,
    A200: $di-ge-em-light-text,
    A400: $di-ge-em-light-text,
    A700: $di-ge-em-light-text));

$di-ge-em-accent: (50 : #e5f4f3,
  100 : #bee4e1,
  200 : #93d3cd,
  300 : #67c1b8,
  400 : #47b3a9,
  500 : #26a69a,
  600 : #229e92,
  700 : #1c9588,
  800 : #178b7e,
  900 : #0d7b6c,
  A100 : #adfff3,
  A200 : #7affec,
  A400 : #47ffe4,
  A700 : #2dffe0,
  contrast: (50: $di-ge-em-dark-text,
    100: $di-ge-em-dark-text,
    200: $di-ge-em-dark-text,
    300: $di-ge-em-dark-text,
    400: $di-ge-em-dark-text,
    500: $di-ge-em-light-text,
    600: $di-ge-em-light-text,
    700: $di-ge-em-light-text,
    800: $di-ge-em-light-text,
    900: $di-ge-em-light-text,
    A100: $di-ge-em-light-text,
    A200: $di-ge-em-light-text,
    A400: $di-ge-em-light-text,
    A700: $di-ge-em-light-text));

$di-ge-em-warn: (50 : #f9e0e0,
  100 : #f0b3b3,
  200 : #e68080,
  300 : #db4d4d,
  400 : #d42626,
  500 : #cc0000,
  600 : #c70000,
  700 : #c00000,
  800 : #b90000,
  900 : #ad0000,
  A100 : #ffd7d7,
  A200 : #ffa4a4,
  A400 : #ff7171,
  A700 : #ff5858,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000));

$di-ge-em-app-primary: mat-palette($di-ge-em-primary, 600, 50, 100);
$di-ge-em-app-accent: mat-palette($di-ge-em-accent);
$di-ge-em-app-warn: mat-palette($di-ge-em-warn, 600, 50, A200);
$di-ge-em-app-theme: mat-light-theme($di-ge-em-app-primary, $di-ge-em-app-accent, $di-ge-em-app-warn);

// Include the default theme styles.
@include angular-material-theme($di-ge-em-app-theme);
